export PATH=/home/vince/anaconda2/condabin:/home/vince/tcoffee/Version_12.00.7fb08c2/bin:/home/vince/tcoffee/Version_12.00.7fb08c2/bin:/home/vince/tcoffee/Version_12.00.7fb08c2/bin:/home/vince/tcoffee/Version_12.00.7fb08c2/bin:/home/vince/tcoffee/Version_12.00.7fb08c2/bin:/home/vince/tcoffee/Version_12.00.7fb08c2/bin:/home/vince/.local/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/usr/games:/usr/local/games:/snap/bin:/home/vince/Downloads/packages/T-COFFEE_installer_Version_12.00.7fb08c2_linux_x64/bin:/home/vince/Downloads/packages/viennarna/usr/bin:/home/vince/Downloads/Gblocks_0.91b:/home/vince/exe:/home/vince/Desktop/struct_pred/local/bin
export PYTHONPATH="/home/Desktop/struct_pred/local/bin"
source /home/vince/anaconda2/etc/profile.d/conda.sh
conda activate struct_pred
